<%- include("layouts/header") %>
<%- include("layouts/nav") %>

    <div class="container mt-3 ">
        <div class="row">
            <div class="col-md-8">
                <% if (contacts.length < 1) { %>
                    <div class="alert alert-danger fw-bold" role="alert">
                        Contact Masih Kosong
                       </div>
                   <% } else { %>
                    <h2>Daftar Kontak</h2>
                    <table class="table">
                       <thead>
                         <tr>
                           <th scope="col">#</th>
                           <th scope="col">Nama</th>
                           <th scope="col">Nomer HP</th>
                           <th scope="col">Aksi</th>
                         </tr>
                       </thead>
                       <tbody>
                           
       
                           <% let no = 1; %>
                           <% contacts.forEach(contact => { %>
                               <tr>
                                   <th scope="row"><%- no++ %></th>
                                   <td><%- contact.nama %></td>
                                   <td><%- contact.nohp %></td>
                                   <td>
                                       <a href="/contact/<%- contact.nama %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a>
                                   </td>
                                 </tr>
                           <% }) %>
                    <% } %>
             
                  <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mohamad Tegar Deyustian</td>
                    <td>tegardm@gmail.com</td>
                    <td>
                        <a href="" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a>
                    </td>
                  </tr> -->
                </tbody>
              </table>   
            </div>
        </div>
    </div>
    <%- include("layouts/footer") %>
