<%- include("layouts/header") %>
<%- include("layouts/nav") %>

 
    <h4>Daftar Mahasiswa <%- name %></h4>
    <% if (mahasiswa.length < 1) { %>
        <p>Data Mahasiswa Kosong</p>
    <% }  else {%>
        <% mahasiswa.forEach(mhs => { %>
            <ul>
                <li>Nama : <%- mhs.nama %></li>
                <li>Email :<%- mhs.email %> </li>
            </ul>
        <% }) %>
        <% } %>
    <h2><%= name %></h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, quis quia corporis illum impedit dolorum cumque, doloribus molestias quaerat aliquam nulla facilis architecto? Odit, quos?</p>
    <%- include("layouts/footer") %>
