<%- include("layouts/header") %>
<%- include("layouts/nav") %>

   <div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Form Ubah Data Contact</h2>
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                         <li><%- error.msg %></li>
                        <% }) %>
                    </ul>
                  </div>
            <% } %>
            <form method="post" action="/contact/update">
                <input type="hidden" name="oldNama" value="<%- contact.oldNama || contact.nama%>">
                <div class="mb-3">
                  <label for="nama" class="form-label">Masukan Nama Anda</label>
                  <input value="<%- contact.nama %>" type="text" class="form-control" id="nama" name="nama" required >
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Masukan Email Anda</label>
                    <input value="<%- contact.email %>" type="email" class="form-control" id="email" name="email" required >
  
                  </div>

                  <div class="mb-3">
                    <label for="nohp" class="form-label">Masukan Nomor HP Anda</label>
                    <input value="<%- contact.nohp %>" type="text" class="form-control" id="nohp" name="nohp" required >
  
                  </div>
                
                <button type="submit" class="btn btn-primary">Ubah Data Contact</button>
              </form>

        </div>
    </div>
   </div>
    
<%- include("layouts/footer") %>
